<configuration>
  <components>
    <!-- Begin -->
    <component
     id="IUserRepository"
     service="QLTS.Domain.Abstractions.Repositories.IUserRepository, QLTS.Domain"
     type="QLTS.Persistence.Repositoris.Identity.UserRepository, QLTS.Persistence" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
     id="IRoleRepository"
     service="QLTS.Domain.Abstractions.Repositories.IRoleRepository, QLTS.Domain"
     type="QLTS.Persistence.Repositoris.Identity.RoleRepository, QLTS.Persistence" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
     id="IPermissionRepository"
     service="QLTS.Domain.Abstractions.Repositories.IPermissionRepository, QLTS.Domain"
     type="QLTS.Persistence.Repositoris.Identity.PermissionRepository, QLTS.Persistence" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
     id="IModuleRepository"
     service="QLTS.Domain.Abstractions.Repositories.IModuleRepository, QLTS.Domain"
     type="QLTS.Persistence.Repositoris.Identity.ModuleRepository, QLTS.Persistence" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
     id="ICompanyRepository"
     service="QLTS.Domain.Abstractions.Repositories.ICompanyRepository, QLTS.Domain"
     type="QLTS.Persistence.Repositoris.Identity.CompanyRepository, QLTS.Persistence" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
     id="ICompanyConfigRepository"
     service="QLTS.Domain.Abstractions.Repositories.ICompanyConfigRepository, QLTS.Domain"
     type="QLTS.Persistence.Repositoris.Identity.CompanyConfigRepository, QLTS.Persistence" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
  </components>
</configuration>